html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}



.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main__content{
  width: 675px;
  height: 750px;
}
.info__content{
  padding: 30px;
}
.tab__name{
  width: 100px;
  margin-left: 5px;
  justify-content: space-between;
  display: flex;
  border: none;
}
.tab__name div{
  color: white;
  padding: 3px;
  border: none;
}
.card__info{
  border: solid 1px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-color: #008cfc;
  height: 400px;
}
.blue_back{
  height: 5px;
  background: #008cfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.number__card{
  margin-top: 45px;
  text-align: center;
}
.use__card{
  margin-top: 10px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  
}
.console__content{
  margin: 25px;
}
.console__place{
  border: 1px solid black;
  border-radius: 5px;
  height: 150px;
  
}
.console__name{
  
}

.border{
  cursor: pointer;
  /* background: #008cfc; */
  border: 0.5px solid black;
  border-bottom: none;
}
.cardiler{
  border: solid 1px black;
}
.cardiler div{
  padding: 4px;
}
.use{
  color: #008cfc
}
.num_card{
  width: 80px;
}
.attach__button{
  
}
.name__cards{
  width: 70%;
  margin: 9px auto;
}
